// _variables.scss

// Color variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$error-color: #e74c3c;
$lightgray-color: lightgrey;

// Font variables
$font-stack: "Helvetica Neue", sans-serif;
$font-size: 1.5rem;
$font-size1rem: 1rem;
$font-weight900: 900;

// Spacing variables
$padding: 16px;
$margin: 16px;

// Flexbox variables
$display: flex;
$justify: center;
$align: center;
