.custom-input {
  border-radius: 50px;
  &:focus {
    outline: none; // Removes focus outline
    box-shadow: none; // Removes any focus shadow
  }
  background-color: lightgrey;
}
.input-group-text {
  border-radius: 50px;
  background-color: lightgrey;
  border-color: lightgrey;
  border: none;
}
.mob-nav {
  display: none;
}
